<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心</title>
    <link rel="stylesheet" href="{% static 'users/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <script src="{% static 'users/js/all.min.js' %}"></script><!--用于导航栏头像处下拉菜单-->
</head>
<body>
<!--    <div class="box">-->

<!--    </div>-->
    <nav class="navbar">
        <div class="container">
            <!--显示logo，并设置跳转链接-->
            <div class="navbar-brand">
                <a href="{% url 'blog:index' %}" class="navbar-item">
                    <img src="{% static 'users/images/logo.png' %}" width="112" height="28" alt="logo">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <!--空格将文字中移-->
            <div class="navbar-menu">
                <div class="navbar-center">
                </div>
            </div>

            <!--标题-->
            <div class="navbar-center has-text-centered">
                <h1 class="is-uppercase has-text-weight-bold">我就是我，不一样的烟火😜！</h1>
                <span class="tag">用户中心</span>
            </div>

            <!--导航栏-->
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-end">  <!--在导航栏右侧-->
                    <div class="navbar-item">
                        <div class="dropdown is-hoverable">  <!--鼠标移动到下拉图标上自动展开-->
                            <div class="dropdown-trigger">  <!--图标处显示内容-->
                                <button class="button is-white">
                                    <figure class="image is-24x24">
                                        <div class="image-container" style="width:24px; height:24px">
                                            {% if user.userprofile.image %}
                                                <!--自设头像-->
                                                <img class="is-rounded" style="width:24px; height:24px"src="{{ MEDIA_URL }}{{ user.userprofile.image }}" alt="" srcset="">
                                            {% else %}
                                                <!--默认头像-->
                                                <img class="is-rounded" src="{% static 'users/images/default.png' %}" alt="" srcset="">
                                            {% endif %}
                                        </div>
                                    </figure>&nbsp;&nbsp;
                                        {% if user.userprofile.nick_name %}
                                            <!--有昵称显示昵称-->
                                            <span class="has-text-grey-dark">{{ user.userprofile.nick_name }}</span>
                                        {% else %}
                                            <!--无昵称显示用户名即邮箱-->
                                            <span class="has-text-grey-dark">{{ user.username }}</span>
                                        {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>  <!--下三角图标，js文件获取-->
                                        </span>
                                </button>
                            </div>
                            <!--下拉菜单-->
                            <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                                <div class="dropdown-content is-shadowless">

                                    <div class="dropdown-item">
                                        <a class="has-text-grey-dark">
                                            <span class="icon is-small">
                                                <i class="fas fa-user-cog" aria-hidden="true"></i>
                                            </span>&nbsp;&nbsp;
                                            <a href="{% url 'users:editor_users' %}">账号设置</a>
                                        </a>
                                    </div>

                                    <hr class="dropdown-divider">

                                    <div class="dropdown-item">
                                        <a class="has-text-grey-dark">
                                            <span class="icon is-small">
                                                <i class="fas fa-power-cog" aria-hidden="true"></i>
                                            </span>&nbsp;&nbsp;
                                            <a href="{% url 'users:logout' %}">退出登录</a>
                                        </a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </nav>


    <section class="section">
        <div class="container">

            <div class="columns">
                <div class="column is-2">

                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">个人中心</p>
                            <a href="" class="card-header-icon" aria-label="more options">
                                <span class="icon">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </a>
                        </header>
                        <div class="card-content menu">
                            <ul class="content menu-list">
                                <li><a href="{% url 'users:user_profile' %}">个人信息</a></li>
                                <!-- <li><a href="">修改密码</a></li> -->

                            </ul>
                        </div>
                    </div>

                    <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">内容管理</p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </header>
                            <div class="card-content menu">
                                <ul class="content menu-list">
                                    <li><a href="">添加文章</a></li>
                                    <li><a href="">已发布</a></li>
                                    <li><a href="">草稿箱</a></li>
                                    <li><a href="">评论管理</a></li>
                                    <li><a href="">数据分析</a></li>
                                </ul>
                            </div>

                    </div>
                </div>

                <div class="column is-10">
                    <div class="box">

                        <div class="tabs">
                            <ul>

                              {% block title %}
                              <li class="is-active"><a>账号信息</a></li>
                              {% endblock %}

                            </ul>
                        </div>



                        {% block content %}
                        <div class="columns is-mobile" style="border-bottom: #ededed solid 1px; padding-bottom: 1rem">
                            <div class="column is-narrow">
                                <figure class="image is-96x96">
                                    <div class="image-container">
                                        {% if user.userprofile.image %}
                                            <img class="is-rounded" src="{{ MEDIA_URL }}{{ user.userprofile.image }}">
                                        {% else %}
                                            <img class="is-rounded" src=" {% static 'users/images/default.png' %}">
                                        {% endif %}
                                    </div>
                                </figure>
                            </div>
                            <div class="column is-narrow">
                                <div style="padding-top: 1.5rem;">

                                    {% if user.userprofile.nick_name %}
                                        <h1 class="title is-size-4">{{ user.userprofile.nick_name }}</h1>
                                        {% else %}
                                        <h1 class="title is-size-4">{{ user.username }}</h1>
                                    {% endif %}


                                    {% if user.userprofile.character %}
                                        <p class="subtitle is-size-6">{{ user.userprofile.character }}</p>
                                        {% else %}
                                        <p class="subtitle is-size-6">暂未设置个性签名</p><!--models.py中有默认定义-->
                                    {% endif %}


                                </div>
                            </div>
                            <div class="column is-narrow-mobile">
                                <a class=" button is-light is-pulled-right" href="{% url 'users:editor_users' %}" style="margin-top: 1.8rem">修改信息</a>
                            </div>
                        </div>

                        <div class="columns" style="padding:1rem 0; ">
                            <div class="column is-2">
                                <p>个人信息</p>
                            </div>
                            <div class="column">
                                <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                    <div class="column is-2">
                                       <span class=" has-text-grey-light">昵称</span>
                                    </div>
                                        <div class="column is-narrow">
                                            {% if user.userprofile.nick_name %}
                                            <span class=" has-text-black-ter">{{ user.userprofile.nick_name }}</span>
                                            {% else %}
                                            <span class=" has-text-black-ter">暂未设置用户昵称</span>
                                            {% endif %}

                                        </div>
                                    <!-- <div class="column has-text-right">
                                        <a href="">更改类型</a>
                                    </div> -->

                                </div>
                                <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                    <div class="column is-2">
                                       <span class=" has-text-grey-light">性别</span>
                                    </div>
                                    <div class="column is-narrow">
                                        {% if user.userprofile %}
                                        <span class=" has-text-black-ter">{{ user.userprofile.get_gender_display }}</span>
                                        {% else %}
                                        <span class=" has-text-black-ter">暂未设置</span>
                                        {% endif %}
                                    </div>

                                </div>
                                <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                    <div class="column is-2">
                                       <span class=" has-text-grey-light">邮箱</span>
                                    </div>
                                    <div class="column is-narrow">
                                        <span class=" has-text-black-ter">{{ user.email }}</span>
                                    </div>

                                </div>

                                <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                                    <div class="column is-2">
                                       <span class=" has-text-grey-light">地址</span>
                                    </div>
                                    <div class="column is-narrow">
                                        {% if user.userprofile %}
                                        <span class=" has-text-black-ter">{{ user.userprofile.address }}</span>
                                        {% else %}
                                        <span class=" has-text-black-ter">暂未添加地址</span>
                                        {% endif %}

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="columns" style="padding:1rem 0; ">
                            <div class="column is-2">
                                <p>个人简介</p>
                            </div>
                            <div class="column">
                                <div class="content">
                                    {% if user.userprofile.desc %}
                                    {{ user.userprofile.desc }}
                                    {% else %}
                                    暂未设置
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        {% endblock  %}

                    </div>
                </div>
            </div>

        </div>
    </section>
<!--<hr class="dropdown-divider">-->
</body>
</html>



